.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.container{
  height: 100%;
}

.toolbar-search-icon{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
}

body, html{ height: 100%; margin: 0; padding: 0; }

nav{
  height: 10%;
  background-color: #222;
}
nav p {
  float: right;
  right: 0;
  position: absolute;
}

#error-container{
  background-color: #222;
  text-align: center;
  margin: 0;
  color: white;
}

#error-container h3{
  margin: 0;
}

#filter-input{
  width: 100%;
  height: 10%;
  font-size: 26px;
  border: 0;
  padding: 0;
  text-align: center;
}

#filter-container h1{
  text-align: center;
  vertical-align: top;
  margin: 0;
  color: #777;
  height: 10%;
  font-size: 2em;
}

#filter-container{
  width: 300px;
  height: 100%;
  margin: 0;
  float: left;
  background-color: black;
}

#map{
  height: 90%;
}

nav{
  display: flex;
  justify-content: center;
  position: relative;
}
nav h1{
  text-align: center;
  color: white;
  vertical-align: middle;
  font-size: 2.5em;
  margin: 0;
}

nav button{
  position: absolute;
  left: 0;
}

#results-list{
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

#results-list li p:hover{
  background-color: #666;
  color: white;
}

#results-list li p{
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px 0 15px 20px;
  color: #777;
}

#root{
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
